{% extends 'layouts/base.html.twig' %}

{% block title 'Find all the best pins on earth !' %}
{% block body %}
    {% if pins|length>0 %}
        <h1 class="text-center text-muted mb-4">{{ pluralize(pins|length, 'photo', 'photos' ) }}</h1>
{#        <h1 class="text-center text-muted mb-4">{{ pluralize(pins|length, 'Pin', 'Pins' ) }}</h1>
#}
        {% for row in pins|batch(3) %}
            <div class="row mb-5">
            {% for pin in row %}
                <div class="col-md-4">
                    <article class="pin bg-white rounded shadow">
                    <div class="mw-100 rounded-top overflow-hidden">
                        <a href="{{ path('app_pins_show', {id:pin.id})}}">
                             <img src="{{ (pin.imageName ? vich_uploader_asset(pin) :asset('build/images/choose.jpg'))  | imagine_filter('squared_thumbnail_medium') }}"
                             alt="{{ pin.title }}" class="w-100 "/>
                        </a>
                    </div>
                    <h2 class="pl-3 pt-3 h5"> <a href="{{ path('app_pins_show', {id:pin.id}) }}" class="text-secondary text-decoration-none"> {{ pin.title }}</a></h2>
                        {#    <p>{{ pin.description}}</p>#}
                   <p class="pl-3 pb-3 text-muted"><small>Submitted by {{pin.user.fullName }} </small></p>
                        <p>Submitted {{pin.createdAt|ago }}</p>
                    </article>
                </div>
        {% endfor %}
                </div>
                {% endfor %}
                {% else %}
                <p class="text-center h1 mt-5">Pas de Pin pour l'instant <a href="{{ path('app_pins_create') }}">Créez en un</a></p>
                {% endif%}
                {% endblock %}